.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
}

.header__logo {
  cursor: pointer;
  font-size: 40px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header__nav a {
  position: relative;
  letter-spacing: 2px;
  font-size: 18px;
  color: black;
  text-decoration: none;
  padding: 0 25px;
  align-items: center;
  cursor: pointer;
}

.header__nav a::after {
  content: '';
  position: absolute;
  background-color: black;
  height: 1px;
  width: 0%;
  left: 0%;
  bottom: -10px;
  transition: 0.3s;
}
.header__nav a:hover:after {
  width: 100%;
}

.header__icon_items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
}

.header__icon_items img {
  width: 25x;
  height: 25px;
  padding-left: 20px;
}

.header__icon_item {
  padding-left: 10px;
}
.header__icon_item span {
  padding-left: 5px;
}

.header__icon_items li {
  padding-left: 15px;
}
