.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  position: relative;
  margin-bottom: 50px;
  border: solid 0.1px;
}

.header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.header li {
  display: inline;
}

.header a {
  position: relative;
  letter-spacing: 1px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 0 15px;
  align-items: center;
  cursor: pointer;
}

.nav_title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 150px;
}
.nav_search {
  padding: 0 25px 0 0;
}

.nav_search input[type='text'] {
  height: 50px;
  float: right;
  padding: 0 50px 0 0;
  border: none;
  font-size: 17px;
}

.nav_title a {
  position: relative;
  letter-spacing: 1px;
  font-size: 15px;
  color: black;
  text-decoration: none;
  padding: 0 25px;
  align-items: center;
  cursor: pointer;
}

.nav_title a::after {
  content: '';
  position: absolute;
  background-color: black;
  height: 1px;
  width: 0%;
  left: 0%;
  bottom: -10px;
  transition: 0.3s;
}
.nav_title a:hover:after {
  width: 100%;
}
