.card {
  position: relative;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  /* max-width: 100%;
  width: 137rem;
  margin-right: auto;
  margin-left: auto;
  padding: var(--spacers-l24) var(--spacers-l12) var(--spacers-l24);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: var(--spacers-l48) var(--spacers-l12); */
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.content p {
  margin: 5px;
}
.content h4 {
  margin: 5px;
}

.card_img img {
  height: auto;
  width: auto;
  max-width: 300px;
  max-height: 300px;
}

/* .card .card_img_second {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
}

.card:hover .card_img_second {
  display: inline;
} */

.card_title {
  font-size: 20px;
  font-weight: bold;
  color: black;
}
