.footer {
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  /* bottom: 0; */
  height: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 100;
}

.footer_contact_numbers {
  display: flex;
  flex-direction: column;
}

.footer_logo_social {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}

.footer_logo_social img {
  width: 30px;
}
.footer_logo_social_item {
  padding-left: 10px;
  width: 50px;
}

.footer_logo_social {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.footer_contact_numbers_item {
  margin-top: 5px;
  text-decoration: none;
  color: black;
}

.footer_nav {
  padding-bottom: 20px;
  cursor: pointer;
}
.footer_nav ul {
  padding-left: 0;
}

.footer_nav li {
  position: relative;
  color: black;
  cursor: pointer;
  text-decoration: none;
  list-style-type: none;
  padding: 5px 0 5px 0;
  align-items: start;
}

.footer_nav li::after {
  content: '';
  position: absolute;
  background-color: black;
  height: 1px;
  width: 0%;
  left: 0%;
  bottom: 0px;
  transition: 0.3s;
}
.footer_nav li:hover:after {
  width: 100%;
}
