.container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.info {
  position: sticky;
  padding-right: 50px;
  width: 35%;
  text-align: center;
}

.info_but {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
}

.img {
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
