.wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.sidenav {
  width: 30%;
}

.footer_logo_social {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.footer_logo_social_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 50px;
  margin: 10px 15px;
}

.container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}
.container h3 {
  margin: 30px 0px;
}
